
@{
    ViewBag.Title = "afterbeforeMethod";
}

<h2>afterbeforeMethod</h2>

<script>
    $(document).ready(function () {
        //$("div").after("<b> Tutorial</b>");
        //$("div").before("<b>Tutorial </b>");
        $("div").after($("span"));
    });
</script>
<span> Programming</span>
<div class="div">C#</div>
<div class="div">JQuery</div>
<div class="div">Sql Server</div>
<div class="div">Linq</div>

