
@{
    ViewBag.Title = "appendprependMethod";
}

<h2>appendprependMethod</h2>

<script>
    $(document).ready(function () {
        //$("div").append(" Tutorial");
        //$(" Tutorial").appendTo($("div"));
        //$("div").prepend("Tutorial ");
        //$(" Tutorila").prependTo("div");
        $("div").append($("span"));

    });
</script>
<span> Programming</span>
<div class="div">C#</div>
<div class="div">JQuery</div>
<div class="div">Sql Server</div>
<div class="div">Linq</div>

