
@{
    ViewBag.Title = "CheckboxGroupSelector";
}

<h2>CheckboxGroupSelector</h2>
<script>
    $(document).ready(function () {
        $("input[name='skills']").click(function () {
            getCheckBoxGroupedValues("skills");
        });

        $("input[name='cities']").click(function(){
            getCheckBoxGroupedValues("cities");
        });
        var getCheckBoxGroupedValues = function (groupName) {
            var Result = $("input[name='" + groupName + "']:checked");
            if (Result.length > 0) {
                var ResultString = Result.length + " checkbox(es) selected </br>";
                Result.each(function () {
                    var cbValue = $(this).val();
                    ResultString += cbValue + "- " + $("label[for='cb-" + cbValue+"']").text() + "</br>";
                });

                $("#div" + groupName).html(ResultString);
            }
            else {
                $("#div" + groupName).html("Nothing is selected");
            }
        }
    });
</script>

Skills :
<input type="checkbox" name="skills" value="js" />
<label for="cb-js">JavaScript</label>
<input type="checkbox" name="skills" value="jq" />
<label for="cb-jq">jQuery</label>
<input type="checkbox" name="skills" value="cs" />
<label for="cb-cs">C#</label>
<input type="checkbox" name="skills" value="vb" />
<label for="cb-vb">VB</label>
<br />
<br />
    Preferred Cities :
<input type="checkbox" name="cities" value="ny" />
<label for="cb-ny">New York</label>
<input type="checkbox" name="cities" value="nd" />
<label for="cb-nd">New Delhi</label>
<input type="checkbox" name="cities" value="ln" />
<label for="cb-ln">London</label>

<br />
<br />
<div id="divskills">
</div>
<div id="divcities">
</div>

