
@{
    ViewBag.Title = "DisabledEnabledSelector";
}

<h2>DisabledEnabledSelector</h2>

<script>
    $(document).ready(function () {
        //Selects all disabled elements and sets a 3px solid red border
       // $(":disabled").css("border", "5px solid red");

        //Selects all input elements that are disabled and sets a 3px solid red border
        //$("input:disabled").css("border", "5px solid red");

        //Selects all input elements with type=text that are disabled and sets a 3px solid red border
        //$("input[type='text']:disabled").css("border", "5px solid red");

        //Selects all enabled elements
       // $(":enabled").css("border", "5px solid red");

        //Selects all enabled textarea elements and sets a 3px solid red border
        $("textarea:enabled").css("border", "5px solid red");
    });
</script>
<table>
    <tr>
        <td>First Name </td>
        <td><input type="text" disabled="disabled" /></td>
    </tr>
    <tr>
        <td>Last Name </td>
        <td><input type="text" disabled="disabled" /></td>
    </tr>
    <tr>
        <td>Email </td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Gender </td>
        <td>
            <select id="selectGender" disabled="disabled">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Comments</td>
        <td><textarea></textarea></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Submit" disabled="disabled" />
        </td>
    </tr>
</table>
